<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--<add key="brokerUri" value="amqp://admin:admin@40.121.12.208:5672" />-->
    <!--<add key="subscriberBrokerUri" value="amqp://admin:admin@137.116.115.25:5672" />
    <add key="clientBrokerUri" value="amqp://admin:admin@137.116.115.25:5672" />-->
    <!--<add key="subscriberBrokerUri" value="amqp://admin:admin@137.116.115.25:5672" />
    <add key="clientBrokerUri" value="amqp://admin:admin@40.121.12.208:5672" />-->

    <!--<add key="subscriberBrokerUri" value="amqp://admin:admin@40.121.12.208:5672" />-->
    <!--<add key="clientBrokerUri" value="amqp://admin:admin@40.121.12.208:5672" />-->

    <!--<add key="publisherBrokerUri" value="amqp://admin:admin@137.116.115.25:5672" />-->
    <add key="publisherBrokerUri" value="amqp://admin:admin@localhost:5672" />


  </appSettings>
</configuration>
